@model SchokoCinema.Models.Person
@{ 
 ViewData["Title"] = "Contact"; 
}
<h1>@ViewData["Title"]</h1>

  <form method="post" class="contactform">
  <div class="form-group">
    @Html.LabelFor(m => m.Firstname)
    @Html.TextBoxFor(m => m.Firstname)
    @Html.ValidationMessageFor(m => m.Firstname)
  </div>  
   <div class="form-group">
    @Html.LabelFor(m => m.Lastname)
    @Html.TextBoxFor(m => m.Lastname)
    @Html.ValidationMessageFor(m => m.Lastname)
  </div>

  <div class="form-group">
    @Html.LabelFor(m => m.Email)
    @Html.TextBoxFor(m => m.Email)
    @Html.ValidationMessageFor(m => m.Email)
  </div>

  <div class="form-group">
    @Html.LabelFor(m => m.Description)
    @Html.TextBoxFor(m => m.Description)
    @Html.ValidationMessageFor(m => m.Description)
  </div>

  <input type="submit" value="verstuur" />
</form>

@if (Model != null){
    <p>Hallo, @Model.Firstname @Model.Lastname</p>
}